<?xml version="1.0" encoding="UTF-8"?>
<root>
    <messages>
        <join>{player} %aприсоединился к игре.</join>
        <quit>{player} %cпокинул игру.</quit>
        <motd>%c%l| Test</motd>
        <listPlayers>%e%l{min}%8/%e%l{max}</listPlayers>
        <chatFormat>{player}%8 » {message}</chatFormat>
        <nobodyHeard>%cВас никто не слышит.</nobodyHeard>
        <unknownCommand>%fНеизвестная команда.</unknownCommand>
        <tabHeader>&#xA;%c%lTest&#xA;%fОнлайн: %a%l{online}&#xA;%fПинг: %a%l{ping}&#xA;</tabHeader>
    </messages>

    <hoverEvents>
        <copyChatMessage>%fСкопировать сообщение</copyChatMessage>
        <sendMessage>%fОтправить {player} %fсообщение</sendMessage>
        <copyPrivateMessage>%fСкопировать личное сообщение</copyPrivateMessage>
        <reply>%7Ответить</reply>
    </hoverEvents>

    <commands>
        <tell>
            <fromSender>%2[%r{sender} %a-> %r{target}%2]%8 » {message}</fromSender>
            <onTarget>%3[%r{target} %b&lt;- %r{sender}%3]%8 » {message}</onTarget>
        </tell>
        <slezhka>
            <enabled>%aСлежка включена.</enabled>
            <disabled>%cСлежка выключена.</disabled>
            <kick>%c[Kick] (%r{target}%c) %8» %r{message}</kick>
            <command>%a[Command] (%r{target}%a) %8» %f{command}</command>
        </slezhka>
        <sudo>
            <executed>%a[%r{target}%a]%8 » {command}</executed>
        </sudo>
    </commands>
</root>